body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
#173f5f
#20639b
#3caea3
#f6d55c
#ed553b
*/

/* 
#408f8f
#3c154f
#e24263
#ed6f31
#f4b43c
 */


.footer{
  background:#3caea3;
  color:#fff;
  padding:5px 0px;
  margin:50px 0px 0px 0px;
}
.footer_level1{
  display:flex;
  justify-content: center;
  font-weight:bold;
  font-size:0.8em;
}
.footer_level1 a{
  display:flex;
  margin:0px 10px;
  color:#fff;
}
.footer_level2{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size:0.70em;
  margin:3px 0px 0px 0px;
}
.footer_level2_1{
  display:flex;
  justify-content: center;
  width:100%;
}
.footer_level2 span{
  display:flex;
  margin:0px 0px 0px 10px;
  padding:0px 10px 0px 0px;
  border-right:solid 1px #fff;
}
.footer_level2 span:last-child{
  border:none;
}

.test{
  color:#173f5f;
  color:#3caea3;
  color:#f6d55c;
  color:#ed553b;
}
.root{
  display:flex;
  flex-direction: column;
  width:100%;
}
a{
  text-decoration: none;
}
.inputwapper_number_cnt{
  display:flex;
  width:calc(100% - 30px);
  max-width: 80px;
  padding:10px;
  border:solid 1px #000;
}
.inputwapper_number_cnt > div{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:30px;
}
.inputwapper_number_cnt > div > span{
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding:0px 5px;
}
.inputwapper_number_cnt > input{
  width:calc(100% - 20px);
  font-size:0.9em;
  font-weight: bold;
  border:none;
}
.inputwapper_number_cnt > input::placeholder {
  color: #7f7f7f;
  font-weight: bold;
  font-size:0.9em;
}
.inputwapper_number_cnt > input:focus{
  outline: none;
}
.inputwapper_text{
  display:flex;
  width:calc(100% - 20px);
  padding:10px;
  border:solid 1px #000;
}
.inputwapper_text > input{
  width:100%;
  font-size:0.9em;
  font-weight: bold;
  border:none;
}
.inputwapper_text > input::placeholder {
  color: #7f7f7f;
  font-weight: bold;
  font-size:0.9em;
}
.inputwapper_text > input:focus{
  outline: none;
}
.inputwapper_textarea{
  display:flex;
  width:calc(100% - 20px);
  padding:10px;
  border:solid 1px #000;
}
/* quill editor minimun height */
.ql-editor{
  min-height:100px;
  word-wrap: break-word !important ;
}
.inputwapper_quill{
  border:solid 1px #000;
}
.inputwapper_singlebutton{
  display:flex;
  justify-content: center;
  align-items: center;
  width:calc(100% - 20px);
  background:rgba(127,127,127,0.7);
  border-radius: 5px;
  cursor: pointer;
  padding:10px;
  user-select: none;
}
.inputwapper_singlebutton > span{
  color:#fff;
  font-weight:bold;
  font-size:0.9em;
}
.inputwapper_singlebuttonnext{
  display:flex;
  justify-content: center;
  align-items: center;
  width:calc(100% - 20px);
  background:#3caea3;
  border-radius: 5px;
  cursor: pointer;
  padding:10px;
  user-select: none;
}
.inputwapper_singlebuttonnext > span{
  color:#fff;
  font-weight:bold;
  font-size:0.9em;
}
.inputwapper_morebutton{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width:calc(100% - 20px);
  padding:10px;
}
.inputwapper_morebutton > div{
  display:flex;
  flex-direction: column;
  border:solid 1px #7f7f7f;
  color:#7f7f7f;
  align-items: center;
  width: 100px;
  height: 80px;
  margin: 5px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.inputwapper_morebutton > div.on{
  border:solid 1px #ed553b;
  color:#ed553b;
  transition:all 0.3s;
}
.inputwapper_morebutton > div > span:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.inputwapper_morebutton > div > span:last-child{
  font-weight: bold;
  font-size:0.9em;
}
/* ----------------------------- navi -------------------------------------------- */
.navi{
  display:flex;
  justify-content: center;
  width:100%;
  border-bottom:solid 1px #eaeaea;
}
.navi > div{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}
.navi_level1{
  display:flex;
  justify-content: space-between;
  width:1100px;
}
.navi_level1 > span:last-child{
  display:none;
}
.navi_level1 > div:first-child{
  display:flex;
}
.navi_level1 > div:first-child a{
  display:flex;
  align-items: center;
  padding:10px;
  cursor: pointer;
  color:#000;
  text-decoration: none;
}
.navi_level1 > div:first-child a > img{
  width:30px;
}
.navi_level1 > div:first-child a > span{
  display:flex;
  font-weight:bold;
  font-size:1.5em;
  margin:0px 0px 0px 10px;
}
.navi_level1 > div:nth-child(2){
  display:flex;
  align-items: center;
}
.navi_level1 > div:nth-child(2) a > span{
  display:flex;
  margin:0px 10px;
  padding:10px;
  font-size:0.9em;
  font-weight:bold;
  color:#7f7f7f;
  cursor: pointer;
}
.navi_level1 > div:nth-child(2) a > span:hover{
  text-decoration: underline;
}
.navi_level1 > div:nth-child(2) a > span.on{
  color:#ed553b;
}
.navi_level1 > div:nth-child(3){
  display:flex;
  align-items: center;
}
.navi_level1 > div:nth-child(3) > a:first-child{
  display:flex;
  margin:0px 12px 0px 0px;
  font-size:0.9em;
  font-weight: bold;
  color:#000;
  cursor: pointer;
  padding:8px;
}
.navi_level1 > div:nth-child(3) > a:last-child span{
  display:flex;
  font-size:0.9em;
  background:#3caea3;
  padding:3px 8px;
  border-radius:5px;
  color:#fff;
  font-weight:bold;
  cursor: pointer;
}
.navi_level1 > div:nth-child(3) > a.logout{
  display:flex;
  font-size:0.9em;
  background:#3caea3;
  padding:3px 8px;
  border-radius:5px;
  color:#fff;
  font-weight:bold;
  cursor: pointer;
}
.navi_level2{
  display:flex;
  flex-direction: column;
  height:0px;
  overflow: hidden;
  width:100%;
}
/* ----------------------------- encouter -------------------------------------------- */
.encouter{
  display:flex;
  width:100%;
  justify-content: center;
}
.encouter > div{
  display:flex;
  flex-direction: column;
  width:100%;
  margin:0px 0px 300px 0px;
}
.encouter_level1{
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
  margin: 0px 0px 0px 0px;
  font-size: 1em;
}
.encouter_level1 > span{
  font-weight: bold;
}
.encouter_level2{
  display: flex;
  /* background: rgba(60,174,163,0.7);
  justify-content: center;
  align-items: center;
  min-height: 60vh; */
  width:100%;
}
.encouter_level3{
  display:flex;
  flex-direction: column;
  margin:10px 0px 0px 0px;
}
.encouter_level3 > span{
  display:flex;
  justify-content: center;
  margin:10px 0px;
  width:100%;
  font-size:0.8em;
  font-weight: bold;
}
.encouter_general{
  display:flex;
  width:100%;
}
.encouter_general > div{
  display:flex;
  width:100%;
  flex-direction: column;
}
/* ----------------------------- index -------------------------------------------- */
.index{
  display:flex;
  justify-content: center;
  width:100%;
}
.index > div{
  display:flex;
  flex-direction: column;
  width:100%;
}
.index_level1{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:100px 0px;
}
.index_level1 > span:nth-child(1), .index_level1 > span:nth-child(2){
  display:flex;
  font-size:3.5em;
  font-weight: bold;
  color:#173f5f;
}
.index_level1 > span:nth-child(2){
  margin:-10px 0px 0px 0px;
}
.index_level1 > span:nth-child(3), .index_level1 > span:nth-child(4), .index_level1 > span:nth-child(5){
  display:flex;
  font-size:1.2em;
  font-weight: bold;
  /* color:#7f7f7f; */
  color:rgba(127,127,127,0.7)
}
.index_level1 > span:nth-child(3){
  margin:20px 0px 0px 0px;
}
.index_level2{
  display:flex;
  width:100%;
  padding:50px 0px;
  background:#f6d55c;
  justify-content: center;
}
.index_level2 > div{
  display:flex;
}
.index_level2_left{
  display:flex;
  flex-direction: column;
}
.index_level2_left > span{
  display:flex;
  margin:0px 0px 20px 0px;
  font-size: 2.5em;
  color:#173f5f;
  font-weight: bold;
}
.index_level2_left > ul{
  margin:0;
  padding:0;
  width:450px;
}
.index_level2_left li{
  display:flex;
  align-items: flex-start;
  list-style: none;
  margin:0px 0px 20px 0px;
}
.index_level2_left li > span:first-child{
  display:flex;
  margin:13px 10px 0px 0px;
  color:#097dff;
}
.index_level2_left li > span:last-child{
  display:flex;
  /* font-weight: lighter; */
  font-size:1.4em;
  color:rgba(23,63,95,0.7)
}
.index_level2_right{
  display:flex;
  margin:20px 0px 0px 50px;
}
.index_level2_right > span{
  border:solid 3px #000;
  background:#3caea3;
  width:450px;
  height:250px;
}
.index_level3{
  display:flex;
  justify-content: center;
  width:100%;
}
/* ----------------------------- price -------------------------------------------- */
.price{
  display:flex;
  justify-content: center;
  width:100%;
}
.price > div{
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width:1100px;
  padding:70px 0px 100px 0px;
}
.price_level1{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0px 0px 70px 0px;
}
.price_level1 > span:nth-child(1), .price_level1 > span:nth-child(2){
  display:flex;
  font-size:2em;
  font-weight: bold;
}
.price_level1 > span:nth-child(3){
  display:flex;
  font-size:1.3em;
  margin:10px 0px 0px 0px;
  color:rgba(127,127,127,0.7);
  font-weight: bold;
}
.price_level2{
  display:flex;
  align-items: flex-start;
}
.creater_box{
  background:#fff;
  width:240px;
  box-shadow: 0px 0px 5px 1px rgba(32,33,36,0.2);
  margin:0px 20px;
  padding: 5px;
  border:solid 1px #eaeaea;
}
.creater_box_header{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  margin:5px 0px 5px 0px;
  padding:0px 0px 10px 0px;
  border-bottom:solid 1px #eaeaea;
}
.creater_box_header > span:first-child{
  font-weight:bold;
  font-size:2em;
  display:flex;
}
.creater_box_header > span.focus:first-child{
  font-weight:bold;
  font-size:2em;
  display:flex;
  margin:0px 0px 0px 20px;
}
.creater_box_header > span:nth-child(2){
  font-weight:bold;
  font-size:0.9em;
  background:#097dff;
  padding:3px 8px;
  margin:0px 0px 0px 10px;
  border-radius: 5px;
  color:#fff;
}
.creater_box_header > div{
  display:flex;
}
.createredit_button{
  position: absolute;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.5);
  padding:3px 6px 3px 5px;
  color:#fff;
  border-radius: 5px;
  font-size:0.8em;
  cursor: pointer;
}
.creater_box_level1{
  height:250px;
  display:flex;
  justify-content: center;
  position:relative;
  width:100%;
  align-items: center;
}
.creater_box_level1 img{
  width:180px;
  height:180px;
}
.creater_box_level2{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin:10px 0px;
  flex-direction: column;
  padding:10px 0px;
  border-top:dashed 1px #eaeaea;
  border-bottom:dashed 1px #eaeaea;
}
.creater_box_level2 > span:first-child{
  font-weight:bold;
  font-size:1.5em;
}
.creater_box_level3{
  display:flex;
  width:100%;
  justify-content: center;
}
.creater_box_level3 ul{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding:0;
  margin:0;
}
.creater_box_level3 li{
  list-style: none;
  font-size:0.9em;
  padding:0px 10px;
  margin:0px 0px 5px 0px;
  font-weight:bold;
  color:rgba(0,0,0,0.5);
  display:flex;
  justify-content: flex-start;
  max-width:220px;
  position: relative;
}
.creater_box_level3 li:first-child{
  font-size:1em;
  color:#000;
}
.creater_box_level3 li > span{
  background:rgba(255,0,0,0.5);
  bottom:3px;
  right:-40px;
}
.creater_box_level4{
  display:flex;
  width:100%;
  justify-content: center;
}
.creater_box_level4 span{
  display:flex;
  padding:5px;
  background:#ed553b;
  border-radius:5px;
  width:100%;
  justify-content: center;
  align-items: center;
  color:#fff;
  font-weight:bold;
  cursor: pointer;
}
.creater_box_level4 span.blue{
  display:flex;
  padding:5px;
  background:#097dff;
  border-radius:5px;
  width:100%;
  justify-content: center;
  align-items: center;
  color:#fff;
  font-weight:bold;
  cursor: pointer;
}
.creater_box_level4 a{
  display:flex;
  padding:5px;
  background:#ed553b;
  border-radius:5px;
  width:100%;
  justify-content: center;
  align-items: center;
  color:#fff;
  font-weight:bold;
  cursor: pointer;
}
/* ----------------------------- login -------------------------------------------- */
.login{
  display:flex;
  justify-content: center;
  width:100%;
}
.login > div{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:300px;
  margin:16vh 0px 20vh 0px;
}
.login > div > div.login_welcome{
  display:flex;
  flex-direction: column;
  width:100%;
}
.login > div > div.login_welcome > div{
  display:flex;
  justify-content: center;
}
.login > div > div.login_welcome img{
  width:60px;
}
.login > div > div.login_welcome > div span{
  display: flex;
  font-weight: bold;
  font-size: 3em;
  margin: 0px 0px 0px 10px;
}
.login > div > div.login_welcome > span{
  display:flex;
  justify-content: center;
  font-size: 2em;
  margin: 30px 0px 20px 0px
}
.login > div > div.login_alert{
  display:flex;
  justify-content: center;
}
.login > div > div.login_alert > span{
  font-size:0.8em;
  color:red;
}
.login_general_input{
  display:flex;
  flex-direction: column;
  width:100%;
  margin:10px 0px;
}
.login_general_input > span{
  display:flex;
  margin:0px 0px 5px 0px;
  font-weight: bold;
  font-size:1.1em;
}
.login_general_input > div{
  display:flex;
  width:calc(100% - 20px);
  border:solid 1px #000;
  padding:10px;
}
.login_general_input > div input{
  display:flex;
  width:100%;
  border:none;
  font-weight: bold;
  font-size:0.9em;
}
.login_general_input > div input:focus{
  outline:none;
}
.login_general_input > div input::placeholder {
  color: #7f7f7f;
  font-weight: bold;
  font-size:0.9em;
}
.login > div > span.login_submit{
  display:flex;
  width:100%;
  margin:20px 0px;
  border-radius: 5px;
  background:#3caea3;
  justify-content: center;
  padding:10px 0px;
  font-weight: bold;
  color:#fff;
  cursor: pointer;
}
.login > div > div.login_options{
  display:flex;
  width:100%;
  justify-content: space-between;
}
.login > div > div.login_options > a{
  font-size:0.9em;
  color:#000;
}
.login > div > div.login_checkuser{
  display:flex;
  width:calc(100% - 20px);
  justify-content: space-between;
  padding:10px;
}
.login > div > div.login_checkuser > div{
  display:flex;
  flex-direction: column;
  align-items: center;
  border:solid 1px #7f7f7f;
  width:130px;
  /* height:50px; */
  padding:10px 0px;
  color:rgba(127,127,127,0.7);
  cursor: pointer;
}
.login > div > div.login_checkuser > div.on{
  color:#ed553b;
  border:solid 1px #ed553b;
}
.login > div > div.login_checkuser > div:hover{
  color:#ed553b;
  border:solid 1px #ed553b;
}
.login > div > div.login_checkuser > div > span:last-child{
  display:flex;
  margin:5px 0px 0px 0px;
  font-size: 0.8em;
  font-weight: bold;
}
.login > div > div.login_agreement{
  display:flex;
  width:100%;
  justify-content: center;
  margin:10px 0px 10px 0px;
  font-size:0.8em;
}
.login > div > div.login_agreement label{
  display:flex;
  margin:0px 10px 0px 0px;
  user-select: none;
}
/* ----------------------------- studio -------------------------------------------- */
.studio{
  display:flex;
  justify-content: center;
  width:100%;
  margin:0px 0px 200px 0px;
}
.studio > div{
  display:flex;
  flex-direction: column;
  width:100%;
}
.studio_navi{
  display:flex;
  justify-content: flex-end;
  padding:15px;
  border-bottom:solid 1px #eaeaea;
}
.studio_navi > span{
  display:flex;
  color:#7f7f7f;
  margin:0px 0px 0px 20px;
  font-size:0.9em;
  cursor: pointer;
  padding:3px 8px;
}
.studio_main{
  display:flex;
  flex-direction: column;
  width:100%;
}
.studio_level1{
  display:flex;
  width:100%;
  border-bottom:solid 1px #eaeaea;
}
.studio_level2{
  display:flex;
  justify-content: center;
  width:100%;
  margin:50px 0px 0px 0px;
}
.studio_level2 > div > span{
  font-weight: bold;
  font-size:1.5em;
}
.studio_level2 > div{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.studio_level2 > div > div{
  display:flex;
  margin:30px 0px 0px 0px;
}
.studio_qr_left{
  display:flex;
  margin:0px 100px 0px 0px;
}
.studio_qr_right{
  display:flex;
  flex-direction: column;
}
.studio_qr_right > div{
  display:flex;
  flex-direction: column;
  width:300px;
  margin:0px 0px 20px 0px;
}
.studio_qr_right > div > span.bigtxt{
  display: flex;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.studio_qr_right > div > div.qr_copy{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.studio_qr_right > div > div.qr_copy > span:first-child{
  display: flex;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.studio_qr_right > div > div.qr_copy > span:last-child{
  display:flex;
  /* width:calc(100% - 20px); */
  margin: 0px 0px 10px 0px;
  background:#097dff;
  justify-content: center;
  align-items: center;
  padding:3px 8px;
  color:#fff;
  font-weight: bold;
  border-radius: 5px;
  font-size:0.8em;
  cursor: pointer;
  user-select: none;
}
.studio_qr_right > div > div.box{
  display: flex;
  width: calc(100% - 20px);
  padding: 10px;
  border: solid 1px #000;
}
.studio_qr_right > div > div.box > span{
  display:block;
  width:280px;
  font-size:0.9em;
  font-weight: bold;
  color:#ed553b;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.studio_qr_right > div > div.button{
  display:flex;
  width:calc(100% - 20px);
  background:#097dff;
  justify-content: center;
  align-items: center;
  padding:10px;
  color:#fff;
  font-weight: bold;
  border-radius: 5px;
  font-size:0.9em;
  cursor: pointer;
  user-select: none;
}
.studio_qr_right > div > div.button > span:first-child{
  display:flex;
  margin:0px 10px 0px 0px;
}
.studio_qr_right > div > div.button > span:last-child{

}
.studio_qr_right > div > span.infotxt{
  display:flex;
  margin:5px 0px 0px 0px;
  font-size:0.8em;
  color:#7f7f7f;
}
.studio_mobile{
  display:flex;
  background:#f4f4f4;
  min-width:1000px;
  padding:50px 0px;
  width:70%;
}
.studio_mobilebox{
  display:flex;
  width:100%;
  justify-content: center;
}
.studio_mobilebox > div{
  display:flex;
  flex-direction: column;
  height:550px;
  width:300px;
  border-radius: 15px;
  border:solid 3px #000;
  overflow: hidden;
  box-shadow:5px 5px 5px 0px rgb(32 33 36 / 28%)
}
.studio_mobilebox > div > div.top{
  display:flex;
  justify-content: space-between;
  height:20px;
  border-bottom:solid 1px #000;
  background:#000;
}
.studio_mobilebox > div > div.top > div{
  display:flex;
  align-items: center;
}
.studio_mobilebox > div > div.top span{
  display:flex;
  align-items: center;
  margin:0px 2px;
  font-size:0.8em;
  color:#fff;
}
.studio_mobilebox > div > div.top span:first-child{
  margin:0px 2px 0px 10px;
}
.studio_mobilebox > div > div.top span:last-child{
  margin:0px 10px 0px 2px;
}
.studio_mobilebox > div > div.middle{
  height:510px;
  background:#fff;
  overflow-y: scroll;
  overflow-x:hidden;
}
.studio_mobilebox > div > div::-webkit-scrollbar {
  width: 1px;
}
.studio_mobilebox > div > div::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}
.studio_mobilebox > div > div::-webkit-scrollbar-track {
  background-color: grey;
}
.studio_mobilebox_header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:2px 0px 0px 0px;
  padding:2px 10px;
  border-bottom:solid 1px #eaeaea;
}
.studio_mobilebox_header > div{
  display:flex;
}
.studio_mobilebox_header > div img{
  width:20px;
}
.studio_mobilebox_header > div span{
  display:flex;
  margin:0px 0px 0px 5px;
  font-weight: bold;
  font-size:1em;
}
.studio_mobilebox > div > div.bottom{
  display:flex;
  justify-content: center;
  color:#fff;
  height:20px;
  border-top:solid 1px #000;
  background:#000;
}
.studio_mobile_title{
  display:flex;
  justify-content: flex-start;
  padding:10px 15px;
  margin:0px 0px 0px 0px;
  font-size:0.9em;
}
.studio_mobile_title > span{
  font-weight: bold;
}
.studio_mobile_body_default{
  background:rgba(60,174,163,0.7);
  display:flex;
  justify-content: center;
  align-items: center;
  height:300px;
}
.studio_mobile_body{
  display:flex;
  flex-direction: column;
}
.mobile_wordcloud_body{
  display:flex;
  background:#f4f4f4;
  width:100%;
  flex-direction: column;
  align-items: center;
}
.mobile_wordcloud_wrapper{
  display:flex;
  width:calc(100% - 10px);
  height:280px;
  margin:10px 0px 0px 0px;
}
.mobile_wordcloud_body > span{
  display:flex;
  color:#7f7f7f;
  font-size:0.8em;
  margin:5px 0px;
}
.mobile_wordcloud_input{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:20px 0px 0px 0px;
}
.mobile_wordcloud_input > div{
  display: flex;
  width: calc(100% - 40px);
  padding: 10px;
  border: solid 1px #000;
}
.mobile_wordcloud_input > div > input{
  width: 100%;
  font-size: 0.9em;
  font-weight: bold;
  border: none;
}
.mobile_wordcloud_input > div > input::placeholder {
  color: #7f7f7f;
  font-weight: bold;
  font-size:0.9em;
}
.mobile_wordcloud_input > div > input:focus{
  outline: none;
}
.mobile_wordcloud_input > span{
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  background: #3caea3;
  padding:10px 0px;
  margin:10px 0px 0px 0px;
  width:calc(100% - 20px);
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.mobilequestion{
  background:rgba(60,174,163,0.3);
  display:flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  padding:30px 0px;
}
.mobilequestion > img{
  height:100px;
  max-width: calc(100% - 20px);
}
.mobilequestion p{
  margin:0px;
  font-size:0.9em;
}
.mobilequestion h1{
  margin:0;
  padding:0;
}
.mobilequestion h2{
  margin:0;
  padding:0;
}
.mobilequestion > div{
  margin:10px 0px 0px 0px;
}
.mobilevote_chart{
  background:rgba(60,174,163,0.3);
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:30px 0px;
}
.mobilevote_chart > span{
  display:flex;
  margin: 20px 0px 0px 0px;
  font-size:0.8em;
  color:#7f7f7f;
  font-weight: bold;
}
.mobilevote_options{
  display:flex;
  flex-direction: column;
  padding:10px;
  width:calc(100% - 20px);
}
.mobilevote_options > div{
  display:flex;
  padding:5px;
  width:calc(100% - 10px);
  border:solid 1px #000;
  border-radius: 3px;
  font-size: 0.8em;
  margin:0px 0px 10px 0px;
  transition: all 0.3s;
}
.mobilevote_options > div > span:first-child{
  display:flex;
  font-weight: bold;
  margin:0px 10px 0px 5px;
}
.mobilevote_options > div > span:last-child{
  display:flex;
  width:calc(100% - 17px);
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.studio_mobile_bottom{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:10px 0px 0px 0px;
  /* height:140px; */
  /* background: #ed553b; */
}
.studio_mobile_bottom > div{
  border:solid 1px #000;
  padding:10px;
  font-size:0.8em;
}
.studio_mobile_bottom > span{
  display:flex;
  padding:10px 20px;
}
.studio_menu{
  display:flex;
  flex-direction: column;
  min-width:300px;
  width:30%;
}
.studio_menu > div:first-child{
  display:flex;
  justify-content: center;
  padding:20px;
}
.studio_menu > div:first-child > span{
  display:flex;
  padding: 0px 20px 10px 20px;
  justify-content: center;
  width:200px;
  font-weight: bold;
  border-bottom: solid 2px #eaeaea;
  /* color:rgba(127,127,127,0.7); */
  color:#7f7f7f;
  cursor: pointer;
}
.studio_menu > div:first-child > span.on{
  border-bottom: solid 2px #097dff;
  /* color:#097dff; */
  color:#000;
  transition:all 0.3s;
}
.studio_menubox{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}
.studio_menubox_hidden{
  display:none;
}
.studio_menubox > div.studio_menubox1{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:5px 10px;
}
.studio_typebox{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:120px;
  border:solid 1px #7f7f7f;
  height:90px;
  margin:5px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  color:#7f7f7f;
}
.studio_typebox_on{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:120px;
  border:solid 1px #ed553b;
  height:90px;
  margin:5px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  color:#ed553b;
  transition:all 0.3s;
}
.studio_typebox:hover{
  transition:all 0.3s;
  border:solid 1px #ed553b;
  color:#ed553b;
}
.studio_typebox > div{
  display:flex;
  justify-content: center;
  align-items: center;
  height:60px;
}
.studio_typebox > span{
  font-weight: bold;
  font-size:0.9em;
}
.studio_typebox_on > div{
  display:flex;
  justify-content: center;
  align-items: center;
  height:60px;
}
.studio_typebox_on > span{
  font-weight: bold;
  font-size:0.9em;
}
.studio_menubox > div.studio_menubox2{
  display:flex;
  flex-direction: column;
  padding:5px 20px;
  width:calc(100% - 40px);
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width:100%;
  margin:0px 0px 20px 0px;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general > div:first-child{
  display:flex;
  align-items: flex-end;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general > div:first-child > span:first-child{
  display:flex;
  font-size:1.1em;
  font-weight: bold;;
  margin:0px 0px 10px 0px;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general > div:first-child > span:nth-child(2){
  display:flex;
  font-size:0.8em;
  color:#7f7f7f;
  /* font-weight: bold;; */
  margin:0px 0px 10px 10px;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width:100%;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general_inputlist{
  display:flex;
  flex-direction: column;
  margin:0px 0px 20px 0px;
  height: 0px;
  overflow: hidden;
  transition:all 0.3s;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general_inputlist > div{
  display: flex;
  width: calc(100% - 22px);
  padding: 10px;
  border: solid 1px #000;
  margin:0px 0px 10px 0px;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general_inputlist > div > span:first-child{
  display:flex;
  font-weight: bold;
  font-size:0.9em;
  margin:0px 5px 0px 0px;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general_inputlist > div > span:last-child{
  display:flex;
  color:#ed553b;
  align-items: center;
  padding:0px 4px;
  cursor: pointer;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general_inputlist > div input{
  width:calc(100% - 50px);
  border:none;
  font-size:0.9em;
  font-weight: bold;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general_inputlist > div input:focus{
  outline: none;
}
.studio_menubox > div.studio_menubox2 > div.studio_menubox2_general_inputlist > div input::placeholder{
  font-size:0.9em;
  font-weight: bold;
  color:#7f7f7f;
}